{
  "GitHubOAuth": {
    "GITHUB_CLIENT_ID": "Ov23liNUvc7QG2vvoSfM",
    "GITHUB_CLIENT_SECRET": "GITHUB_CLIENT_SECRET"
  },
  "AiAssist": {
    "AI_MODE": "dev"
  },
  "SketchUtils": {
    "SKETCHES_TABLE": "TABLE_NAME",
    "MODE": "dev"
  }
}
